##############################################################################
### Configuration file *example* for enotipy
##############################################################################

[sourcelogin]
sourcemail: your.source@email.domain
password: yourpassword
SMTP: yoursmtp.server.domain

[destination]
destinationmail: your.destination@email.domain
